body {

    padding:0;
    margin:0;
    box-sizing: border-box;

}


@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root{

    --primary-color: #4E4E91;
    --text-color:  #555555;
    --font: 'Rubik', sans-serif;
    --secondary-color: #413D6D;
    --alternative-color: #FF4800;
    
}


a { 
    text-decoration: none;
    color:#fff;
}
/* nvabar */

.sideNavBar {

    width: 25%;
    height:100vh;
    background-color: var(--secondary-color);
    color: #fff;
}

.navBar {

    background-color: var(--primary-color);
    width: 100%;
    height: 40%;
}

.navBar p {

   font-size: 1.1rem;
   font-weight: bold;
   color:  #fff;
}

.navbar a {

    text-decoration: none;
    color:#fff;
}

.adminContainer {

    font-size: 1.3rem;
    cursor: pointer;
}

.adminContainer a {

    text-decoration: none;
    color: #fff;
}

.logoutButton {

    margin-top: 90%;
    margin-left: 10%;
}

.logoutButton button {

    border: 1px solid var(--alternative-color);
    background-color: var(--alternative-color);
}

.logoutButton a {

    text-decoration: none;
    color:  #fff;
}

.adminName {

    margin-top: 10%;
    margin-left: 5%;
}
/*navbar */

/* dashboard */

.mainContainer {

    width: 80%;
}

/* popUp */

.popUpButtonContainer button  {

    background-color: var(--primary-color);
    font-weight: 1.2rem;
}

.popupContainer {

    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden; 
} 


.popupForm {
  
    width: 70%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-left: 15%;
    padding-top: 8%;
    height: 90%;
    box-shadow: 3px 3px 3px 3px whitesmoke;


}

.popupForm textarea {

    resize: none;
}

#addButton {

    background-color: var(--primary-color);
}

.closeContainer {

    width: 100%;
    margin-left: 90%;
    cursor: pointer;
    font-size: 1.2rem;
}

.closeContainer:hover{

    color:var(--primary-color);
}

.addProjectContainer{

    width: 70%;
    text-align: center;

}

/*popup  */

/* project container */

 .edit,
 .show,
 .delete {

    text-decoration: none;
}


/* project container */


/* dashboard */

/* view page */

.projectContainer{

    background-color: whitesmoke;
    height: 80%;
    margin-left: 10%;
    width: 100%;
    min-width: 400px;
    margin-top: 10%;
    padding-top: 10%;
    padding-left: 10%;
    border-radius: 15px;
    overflow-x: hidden;

}

.projectContainer a {

    color:#fff;
    text-decoration: none;
}

.sendCodeToClient{

    background-color: var(--alternative-color);
    border: 2px solid var(--alternative-color);
    color: #fff;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
}

/* view page */



/* dashboard */


/* project page */

.projectContainer #emailButton {

    text-decoration: none;
    color:#fff;
}

.logoutButton #logoutButton  {

    
    text-decoration: none;
    color:#fff;
}

/* responsive */

@media only screen and (max-width:700px){



    #project_code,#client_name, #state{

        display: none;
    }
}