
* {

    padding: 0;
    margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root {

    --primary-color: #4E4E91;
    --text-color:  #555555;
    --font: 'Rubik', sans-serif;
    --secondary-color: #413D6D;
    --alternative-color: #FF4800;

}

body {

    font-family: var(--font);
}

/* nav */

.logoContainer h2 {

    color: var(--primary-color);
    font-weight: bold;

}


.navHomeLink  a {

    text-decoration: none;
    color:var(--primary-color);
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: bold;
}

/* nav */

.checkFormContainer  {

    width: 100%;
 
}

.formContainer {

    margin-top: 10%;
    width: 100%;

}


.checkFormContainer form input[type='text'] {

    display: block;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    color:var(--text-color);
    padding-left: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
}


.checkFormContainer form input[type='submit'] {

    color: #fff;
    background-color: var(--alternative-color);
    border: 2px solid var(--alternative-color);
    width: 110px;
    height: 40px;
    font-weight: bold;
    border-radius: 7px;
    margin-left: 47%;

  
}

/* progress section */

.progressContainer {

    width:100% ;
    text-align: center;
    margin-top: 5%;
}

.subProgressContainer {

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding-top: 2%;
    height: 30%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    font-size: 1.3rem;
    font-weight: bolder;
}
/* responsive */ 

@media only screen and (max-width:1200px){


    .checkFormContainer form input[type='text'] {

        width: 80%;

    }

    .checkFormContainer form input[type='submit'] {

        margin-left: 40%;

    }

}