


@media only screen and (max-width:64em){

    .navLinks,
    .buttonsContainer {

        display: none;
   }

   .burgerNav{ 
       
    margin-top: 5%;
    font-size: 1.3rem;
   }
   
   .freelancer{

    text-align: center;
   }

   .heroImage img{

      width: 100%;
      margin-top: 15%;
   }

   .whyChoose{

    text-align: center;
   }

   .whyChooseH2 {

    margin-right: 40%;

   }
  
}

@media only screen and (min-width:75em){

    .burgerNav{
        display: none;
    }
}