@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {

    margin: 0;
    padding: 0;
}

:root{

    --primary-color: #4E4E91;
    --text-color:  #555555;
    --font: 'Rubik', sans-serif;
    --secondary-color: #FF4800;

}

body {

    background-color: whitesmoke;
    font-family: var(--font);

}


.ultimateContainer {

    width: 60%;
    background-color: #fff;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    border-radius: 10px;
    margin-top: 6%;
}


/* welcome starts */

.welcomeContainer {

    background-color: var(--primary-color);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    text-align: center;
    padding-top: 15%;
    width: 50%;

}

.welcomeP {

    width:100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: 0.7;
    font-weight: lighter;
}

.already {
    margin-top: 5px;
    opacity: 0.7;
}

.signUp {

    background-color: var(--secondary-color);
    border: none;
    width: 100px;
    height: 45px;
    font-weight: bold;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    color:#fff;
    margin-top: 16px;
}

.signUp a {

    text-decoration: none;
    color: #fff
}


/* welcome ends */ 

/* login starts */

.logInContainer  {

    width:  50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    margin-top: 5%;
    
}

.logInContainer input[type='email'],
input[type='password'],
input[type='text'] {

    width: 300px;
    border-radius: 5px;
    border:solid 1px var(--primary-color);
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 1rem;
}

.logInContainer input[type='submit'] {

    margin-top: 17px;
    background-color: var(--primary-color);
    border: none;
    width: 100px;
    height: 45px;
    font-weight: bold;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    color:#fff;
    margin-top: 16px;
}


/* responsive */

@media only screen and (max-width:1200px){    

    /* log in page */

   .welcomeContainer {

    display: none;
   }

   .logInContainer {


    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   }

   .logInContainer 
    input[type='email'],
    input[type='password'],
    input[type='text'] {


        width: 180px;
   }

   /* sign up page */





}

