.popupContainer {

        width: 100%;
        background-color: rgba(0, 0, 0, 0.801);
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
}


.popupForm {
  
    width: 70%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-left: 15%;
    padding-top: 8%;
    height: 90%;

}


 #addButton {

margin-left: 30%;
}

.closePopUp  {

    position: absolute;
 
}

.closePopUp:hover {

    cursor: pointer;
    color:green;
}
